certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
gTTS==2.5.4
idna==3.10
playsound==1.3.0
PyAudio==0.2.14
pygame==2.6.1
pypiwin32==223
pyttsx3==2.99
pywin32==311
requests==2.32.4
SpeechRecognition==3.14.3
typing_extensions==4.14.1
urllib3==2.5.0